

body {
    margin: 0;
    margin-top: -40px;
}

html {
    font-size: 62.5%;
    background-color: white;
}

div {
    border: 2px solid white;
    background: white;
}




ul li{
    position: relative;
    display: inline-block;
    list-style: none;
    top: 45px;
    padding: 10px 20px;
    font-size: 1.87rem;
    left: 530px;
  
}

.logo {
    position: relative;
    font-weight: 600;
    font-size: 3.8rem;
    padding: 10px;
    left:  60px;
    top: 10px;
}

#tabla {
    font-family: 'Raleway', sans-serif;
}

nav{
    width: 66.1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achedo {
    left: 350px;
}

header {
    position: relative;
    bottom: 30%;
    padding: 0px 50px;
}

header h2{
    font-size: 4rem;
}

header p{
    font-size: 1.7rem;
}

header button {
    padding: 0px 5px;
    width: 140px;
    outline: none;
    border: 0;
    height: 40px;
    font-size: 500;
}

header h2 {
    position: relative;
    left: 340px;
    bottom: -120px;
    font-size: 10rem;
    background: linear-gradient(to right, #fed644, rgb(246, 175, 174));
    background-clip: text;
    color: transparent; 
    font-family: 'Fira Sans Condensed', serif;

   
}

.arriba-de {
    position: relative;
    left: 570px;
    bottom: -30px;
    background: linear-gradient(to right, #fed644,rgb(246, 175, 174), rgb(246, 175, 174));
    background-clip: text;
    color: transparent; 
    font-size: 5.2rem;
}

.build {
    position: relative;
    left: 10px;
    bottom: -5px;
    font-size: 2.2rem;
    background: linear-gradient(to left, rgb(246, 175, 174), #FED644, rgb(246, 175, 174));
    -webkit-background-clip: initial;
    background-clip: text; 
    color: transparent; 
    text-align: center;

}

#Inicio {
    border: 2px solid transparent;
    border-radius: 100px;
    transition: border-color 0.5s ease;
    left: 530px;
}

#container {
    user-select: none;
}

#Inicio:hover {
    border-color: black;
}

#Acerca-de-mi {
    border: 2px solid transparent;
    border-radius: 100px;
    transition: border-color 0.5s ease;
    left: 530px;
}

#Acerca-de-mi:hover {
    border-color: black;

}

#Contactame {
    border: 2px solid transparent;
    border-radius: 100px;
    transition: border-color 0.5s ease;
    left: 530px;
}

#Contactame:hover {
    border-color: black;
}